@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    color:#444;
    box-sizing:border-box;
    outline:none;
    border:none;
    text-decoration: none;
    text-transform: capitalize;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
 }

 body{
   background: #eee;
 }

.navbar{
    display: flex;
    justify-content: center;
    text-align: center; 
    padding-top: 20px;
    background: #e4e3e3;
}

 .nav-title{
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
 }

 .toolbox{
  width: 5.5rem;
  height:5.5rem;
  padding-bottom: 2rem ;
 }

.title{
  font-size: 5rem;
  margin: 2rem;
  margin-bottom: none;
  letter-spacing: 1rem;
  text-align: center;
}

.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left-container{
  display: block;
}

.right-container{
  display: block;
}

h5{
  margin-top:15px;
  margin-bottom: 15px;
  font-size: 1.7rem;
}

.text-area{
  height: 120px;
  width: 606px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  resize: none;
  margin-bottom:20px;
  padding-left: 0.5em;
}

img{
  padding:14px 10px;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.textinfo{
  display: flex;
  align-items: center;
  background: #ccc;
  width:81%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  resize: none;
  margin-top:20px;
  padding-left: 0.5em;
}

.base64-text{
  padding-right: 25em;
}

.html-text{
  padding-right: 26em;
}

.css-text{
  padding-right: 21em;
}

.left-container{
 text-align: center;
 margin-top: 70px;
}

.drop-container {
  padding:50px;
  border-radius: 10px;
  border: 2px dashed #555;
  color: #444;
  cursor: pointer;
}

.drop-container:hover {
  background: #ccc;
  border-color: #111;
}

.imagePreview{
  text-align: center;
  font-size: 2rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 30px;
  margin-top: 80px;
  margin-left: 20px;
  max-width: 90%;
  resize:both;
}

.imagePreview img{
  width: 50%;
  height: 50%;
}