@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    color:#444;
    box-sizing:border-box;
    outline:none;
    border:none;
    text-decoration: none;
    text-transform: capitalize;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
 }

 body{
   background: #eee;
 }

 .navbar{
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center; 
  padding-top: 20px;
  background: #e4e3e3;
}

.nav-title{
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
}

.toolbox{
  display:flex ;
 width: 5.7rem;
 height:5.7rem;
 padding-bottom:2rem ;
 margin-right: 1px;
}

.title{
  font-size: 5rem;
  margin: 2rem;
  margin-bottom: none;
  letter-spacing: 1rem;
  text-align: center;
}

  .container {
    display: grid;
    grid-template-columns: 1fr 130px 1fr;
    height: 50vh;
    box-sizing: border-box;
    padding: 20px;
    gap: 20px;
  }
  
  .text-area {
    width:100%;
    height:90%;
    padding: 20px;
    padding-top: none;
    box-sizing: border-box;
    color: black;
    border: none;
    outline: none;
    resize: none;
    font-family: monospace;
    transition:0.25s, color 0.25s;
    outline: .1rem solid #ccc;
  }
  
  .controls{
    margin-top: 60px;
  }

  .con-btn {
    padding: 8px 16px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    box-sizing: border-box; 
    border: none;
    outline: .1rem solid #ccc;
    cursor: pointer;
    background: white;
    color: black;
    font-weight: bold;
  }
  
  .btn-tree{
    background-color: #2e9e5c;
  }

  .btn-tree:hover{
    background-color: #035a27;
  }

  .btn-tree:active{
    background-color: #0f9948;
}

.btn-beautify{
  background-color: #5995d4;
}

.btn-beautify:hover{
  background-color: #114781;
}

.btn-beautify:active{
  background-color: rgb(0, 33, 66);
}

  .con-btn:hover {
    outline: .2rem solid #ccc;
  }

  .con-btn:active {
    background-color: #eee8e8;
  }
  
  .con-btn-btn{
    background-color: #bad4f0;
  }

  .con-btn-btn:hover{
    background-color: #9dc1e7;
  }

  .con-btn-btn:active{
    background-color: #5995d4;
  }


  .btn-space{
    background-color: #bad4f0;
    padding: 8px 16px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    box-sizing: border-box; 
    border: none;
    outline: .1rem solid #ccc;
    cursor: pointer;
    background: white;
    color: black;
    font-weight: bold;
  }

  .textinfo{
    display: flex;
    align-items: center;
    background: #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    resize: none;
}

.inputData{
    padding-left: 0.5em;
    margin-right:23em;
    line-height: 1.5;
    font-size: 1.5rem;
 }

.outputData{
  padding-left: 0.5em;
  margin-right:30em;
  line-height: 1.5;
  font-size: 1.5rem;
}

 img{
  padding:14px 10px;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.alert{
  display: none;
  font-size: 1.3rem;
  width:50%;
  margin:20px auto;
  z-index: 9;
  margin-left:25%;
  margin-top: 10px;
  padding:20px;
  position: absolute;
  border-radius:5px;
  background-color: rgba(44, 235, 6,0.5);
  border-left:solid rgb(0, 185, 0) 5px;
  box-shadow:0 0 15px 5px #cccccc;
}
.close{
  position:absolute;
  width:30px;
  height:30px;
  opacity:0.5;
  right:15px;
  top:12px;
  text-align:center;
  font-size:2em;
  cursor:pointer;
}